<form class="login-form-container">
  <div class="login-box" *ngIf="form" [formGroup]="form">
    <div class="ng-dirty ng-invalid p-mr-2">
      <app-custom-input
        [label]="'Username'"
        [placeHolder]="'Username'"
        [type]="'text'"
      ></app-custom-input>
    </div>
    <div class="ng-dirty ng-invalid p-mr-2">
      <app-custom-input
        [label]="'Password'"
        [placeHolder]="'Password'"
        [type]="'password'"
      ></app-custom-input>
    </div>
    <div class="button-container">
      <app-custom-button
      [routerLink]="['/home']"
        [name]="'Login'"
        (ngSubmit)="onSubmit()"
      ></app-custom-button>
    </div>
    <div class="link-container">
      <span class="link">No account yet?</span>
      <a href="/">Register</a>
    </div>
  </div>
</form>
