<form class="login-form-container">
  <div class="login-box">
    <app-custom-input
      [label]="'Username'"
      [placeHolder]="'Username'"
      [type]="'text'"
    ></app-custom-input>
    <div class="ng-dirty ng-invalid p-mr-2"  >
      <app-custom-input
        [label]="'Password'"
        [placeHolder]="'Password'"
        [type]="'password'"
      ></app-custom-input>
      <p-message severity="error" text="Field is required"></p-message>
    </div>
    <div class="button-container">
      <app-custom-button
        [name]="'Login'"
        (ngSubmit)="onSubmit()"
      ></app-custom-button>
    </div>
    <div class="link-container">
      <span class="link">No account yet?</span>
      <a href="/">Register</a>
    </div>
  </div>
</form>
