.login-box {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 99, 235);
  padding: 15px 0;
  position: relative;
}

.login-form-container {
  justify-content: center;
  position: relative;
  display: flex;
  width: 1980px;
  height: 1080px;
  background-color: aqua;
}

.button-container {
  justify-content: center;
  display: flex;
  width: 100%;
}


.link {
  color: white;
}
