.login-box {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  background-color: blueviolet;
  padding: 15px 0;
  position: relative;
}

.login-form-container {
  justify-content: center;
  position: relative;
  display:flex;
}
